@model CVMSCore.BAL.Models.AdSigupModel
@{
    ViewData["Title"] = "AdminSignup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Admin Signup</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .login-container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            width: 320px;
        }

        .login-header {
            background-color: #4285f4;
            color: #fff;
            text-align: center;
            padding: 20px;
        }

        h2 {
            margin: 0;
            font-size: 24px;
        }

        .login-form {
            padding: 100px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 12px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .login-btn {
            background-color: #4285f4;
            color: #fff;
            padding: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            width: 100%;
        }

            .login-btn:hover {
                background-color: #357ae8;
            }
    </style>
</head>
<body>
    <div class="login-header">
        <h2>Admin Signup</h2>
    </div>
    

    @using (Html.BeginForm("AdminSignupPage", "ModelView", FormMethod.Post, new { @class = "login-form" }))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName, new { @id = "username", @required = "required" })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @id = "password", @required = "required" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        

        <button type="submit" class="login-btn">Signup</button>
        <div>@ViewBag.ReturnMessage</div>
    }

   
</body>
</html>


